*#
*.list
#*
*.local.*
*~
*.local.*
*.idea/
spec/loadbalancer/terraform/terraform.tfvars
*.terraform/
*terraform.tfstate*
spec/loadbalancer/terraform/pkg/
spec/loadbalancer/build.sh
spec/loadbalancer/certs/
spec/loadbalancer/run.sh
