*#
*.list
#*
*.local.*
*~
k8s/agent+lber/*.env
.DS_Store
k8s/.DS_Store
.idea/
k8s/agent+lber/charts/
k8s/example/charts/
*.lock
/k8s/agentlber/charts/agent+helper-0.1.0.tgz
/k8s/agentlber/charts/agent-0.1.0.tgz
/k8s/agent/charts/agent+helper-0.1.0.tgz
