SERVICE_BRANCH={{SERVICE_BRANCH}}
ENV={{ENV}}
EC_PRVT_PWD={{EC_PRVT_PWD}}
APP=test-app
BASE={{EC_REV}}
HOST={{EC_SERVICE_HOST_SUB_DOMAIN}}
ZONE={{EC_SERVICE_ZONE_ID}}
PROXY_URL={{PROXY_URL}}
EC_REV={{EC_REV}}
ADMIN_USR={{ADMIN_USR}}
ADMIN_PWD={{ADMIN_PWD}}
ADMIN_TKN={{ADMIN_TKN}}
ZAC_UAA={{ZAC_UAA}}
ZAC_URL={{ZAC_URL}}
ZAC_SERVICE_ID={{ZAC_SERVICE_ID}}
ZAC_CLIENT_ID={{ZAC_CLIENT_ID}}
ZAC_CLIENT_SECRET={{ZAC_CLIENT_SECRET}}
NUREGO_FEATURE_ID={{NUREGO_FEATURE_ID}}
NUREGO_API_KEY={{NUREGO_API_KEY}}
NR_KEY={{NR_KEY}}
NUREGO_TKN_INS={{NUREGO_TKN_INS}}
NUREGO_TKN_PWD={{NUREGO_TKN_PWD}}
NUREGO_TKN_USR={{NUREGO_TKN_USR}}
NUREGO_USAGE_FEATURE_ID={{NUREGO_USAGE_FEATURE_ID}}
NUREGO_ENDPOINT={{NUREGO_ENDPOINT}}
NUREGO_TKN_URL={{NUREGO_TKN_URL}}
EC_SETTINGS={{EC_SETTINGS}}
VCAP_APPLICATION={"application_uris": ["localhost:8989"]}
