{{- if not (and (eq .Values.global.agtK8Config.withPlugins.vln.remote false) (eq .Values.global.agtK8Config.withPlugins.vln.enabled true) -}}
apiVersion: v1
kind: Service
metadata:
  name: {{ include "agent.fullname" . }}
  labels:
    {{- include "agent.labels" . | nindent 4 }}
spec:
  type: {{ .Values.service.type }}
  ports:
    {{- include "agent.svcPortSpec" . | nindent 4 }}
    {{- include "agent.svcHealthPortSpec" . | nindent 4 }}
  selector:
    {{- include "agent.selectorLabels" . | nindent 4 }}
{{- end -}}
{{- end -}}
